<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title">
      {{boleto.empresa}}
    </h1>
     <span class="card-text">Data de Vencimento: {{boleto.vencimento | date: 'dd/MM' }} </span>
     <hr>
    <span class="card-text">Valor: {{boleto.valor | currency: 'BRL' }}</span>
    <hr>
     <span class="class-text">Situação: {{ boleto.pago ? 'Pago' : 'A vencer'}}</span>
  </div>
  <div class="btn-group">
    <button class="btn btn-danger me-1" type="button" (click)="onDelete(boleto.id)"> Deletar </button>
    <button class="btn btn-primary me-1"  (click)="openDialog()">Editar</button>
    <button class="btn" [ngClass]="{'btn-danger' : boleto.pago, 'btn-success' : !boleto.pago}" (click)="onPay(boleto.id)">{{ boleto.pago ? 'Pendente' : 'Pago'}}</button>
  </div>
</div>
<router-outlet></router-outlet>
