<div class="backdrop"></div>
<div class="container">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="empresa" id="empresa" name="empresa">
        <label for="empresa" >Empresa:</label>
        <span class="help-block" *ngIf="form.get('empresa')?.errors?.required && form.get('empresa')?.touched"> Esse campo precisa ser preenchido!</span>
      </div>
      <hr>
      <div class="form-floating">
        <input type="date" class="form-control" formControlName="vencimento">
        <label for="vencimento">Data de Vencimento:</label>
        <span class="help-block" *ngIf="form.get('vencimento')?.errors?.required && form.get('vencimento')?.touched"> Esse campo precisa ser preenchido!</span>
      </div>
      <hr>
        <div class="input-group form-floating">
        <input class="form-control" formControlName="valor" mask="separator.2" thousandSeparator="." prefix="R$ ">
        <label for="valor" >Valor R$: </label>
    </div>
    <span class="help-block" *ngIf="form.get('valor')?.errors?.pattern && form.get('valor')?.touched"> O valor precisa ser maior que 0!</span>
    <span class="help-block" *ngIf="form.get('valor')?.errors?.required && form.get('valor')?.touched"> Esse campo precisa ser preenchido!</span>
    <hr>
    <button class="btn btn-success me-1" type="submit" [disabled]="!form.valid">{{editMode ? 'Salvar' : 'Cadastrar'}}</button>
    <button class="btn btn-danger me-1" type="button" (click)="onCancel()">Cancelar</button>
    <!-- <button class="btn btn-primary" type="button" (click)="useBarCode()">Cadastrar com código de barras</button> -->

    </form>
  </div>
</div>
